[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
numpy = "*"
tabulate = "*"
lxml = "*"
selenium = "*"
beautifulsoup4 = "*"
pandas = "*"
html5lib = "*"

[requires]
python_version = "3.6"
