ipdb
deepdiff
pytest==5.0.1
urllib3==1.24.1
requests
json_logging==1.2.0
PyYAML==5.1.1
Flask==1.0.3
Flask-API==1.1
flask_cors==3.0.8
flask_restplus==0.12.1
gunicorn==19.9.0
Werkzeug==0.16.1
eventlet==0.25.0
numpy
pandas==0.25.3
investpy
psycopg2-binary
pendulum
python-decouple
